body{
    background-color: rgb(72, 163, 0,0.07);
margin:0;

}
main {
    padding: 0 16px 32px;
  }
.heading{
   font-size: 64px;
   color: #48a300;
   text-align: center;
}
.heading span{
    color: #61481c;
}
.container{
    background-color:#FBFBFB; ;
    max-width: 660px;
    margin-inline:auto;
    border-radius: 8px;
    padding: 32px 42px;
    box-shadow: 0 0 10px 5px rgba(72,163,0,0.07);
}
.rainbow{
    height: 40px;
    width:40px ;
    vertical-align: middle;
    margin-left:5px;
}
.progress-level{
    font-weight:400;
    color:#858585;
}
.process-bar{
height:21px;
border-radius: 15px;
background-color:rgba(72,163,0,0.07)  ;
}
.process-value{
font-size:10px;
height:100%;
width: 0;
background-color: #48a300; 
border-radius: 15px;
font-weight: 500; 
color:#EEFFE0;
display:flex;
align-items: center;
overflow: hidden;
transition: width 2s ease-in-out;
}
.process-value span{
    padding-left: 10px;

}
             
.error-level{
    color: red;
    font-size: 11px;
    font-weight: 500;
    margin-top:0px;
    display: none;
}
.showerror .error-level{
    display: block;
}
.goal-container{
    
    border:1px solid rgba(0,0,0,0.1);
    border-radius: 17px;
    height: 72px;
    display :flex;
    align-items: center;
   padding:0 10px;
   background-color: #FFFF;
   margin-bottom: 20px;
   margin-top: 30px;

}
.check-box{
    width: 14px;
    height: 14px;
    border: 2px solid rgba(97,72,28,0.3);   
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    
}
.check-item{
    display:none;
}

.goal-input{
    width: 100%;
    padding-left:10px;
    border:none;
    outline: none;
}

.goal-input::placeholder{
    color:#D9D9D9;
}
.quote {
    font-weight: 500;
    text-align: center;
  }
  .made-with {
    font-weight: 500;
    font-size: 10px;
    text-align: center;
    color: #858585;
    margin-top: 64px;
  }
.completed .check-box{
     background-color: #48a300;
     border-color: #48a300;
}

.completed .check-item{
    display:block;

}
.completed .goal-input{
    color:#48a300;
    text-decoration-line: line-through;
}




